*{
    margin:0;
}
.con{
    height: 135vh;
    background-image: url("https://us.123rf.com/450wm/topvectors/topvectors1903/topvectors190302048/119607695-japanese-food-seamless-pattern-hand-drawn-on-chalkboard-vector-illustration-web-design.jpg?ver=6");
    display:grid;
    grid-template-rows: 100vh 35vh;
    grid-template-areas: 
    "main"
    "footer";
}
.header-outer{
    height: inherit;
    width:100%;
    position:absolute;
    top:0;
    left:0;
}
.header{
    position:sticky;
    background-color: rgba(0, 0, 0, 0.712);
    width:100%;
    top:0;
    left:0;
    z-index: 100;
    animation: animation-center 4s;
    height: 6vh;
}
.menu-outer{
    height:100%;
    width:100%;
    display:flex;
    flex-wrap:nowrap;
}
.menu-logo-outer{
    width:15%;
}
.menu-menu{
    height: 100%;
    width:70%;
    display:flex;
    align-items: center;
    justify-content: center;
}
.menu-link,.menu-cart{
    padding:30px;
    text-decoration: none;
    font-family: 'ABeeZee';
    color:white;
    cursor: pointer;
    position:relative;
    transition:450ms;
}
.menu-link:hover{
    color:red;
    font-size:1.2em;
}
.menu-cart-outer{
    width:15%;
    display:flex;
    justify-content: flex-end;
    align-items: center;
}
.menu-cart img{
    height:75px;
    width:75px;
    color:white;
}
.menu-flag{
    height:40px;
    width:45px;
    margin-right: 20px;
}
.kontakt_outer{
    width:100%;
    height: 100vh;
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.kontakt_telefon,.kontakt_lokalizacja,.kontakt_godziny{
    position:relative;
    top:-15%;
    height: 25%;
    width:20%;
    background:whitesmoke;
    border-radius: 10%;
    display:flex;
    flex-direction: column;
    align-items:center;
}
.kontakt_telefon p,.kontakt_lokalizacja p,.kontakt_godziny p{
    line-height: 2;
    font-family: 'Dancing Script';
    font-size:2.5em;
    font-weight: bolder;
}
.kontakt-text{
    font-size:1.4em;
    font-family: 'Times New Roman', Times, serif;
}
iframe{
    position:absolute;
    top:55%;
    width:100%;
}
footer{
    grid-area:footer;
    background:rgb(70, 70, 70);
}
.footer-outer-1{
    height: 90%;
    margin-left: 15%;
    margin-right: 20%;
    display:flex;
    justify-content: space-between;
    color:whitesmoke;
    opacity:0.85;
    border-bottom:1px solid whitesmoke;
}
.footer-text-1,.footer-text-2,.footer-text-3{
    font-family:"Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif ;
    margin-top:5%;
    line-height: 1.5;
}

.footer-text-1 span,.footer-text-2 span,.footer-text-3 span{
    font-size:1.2em;
}
.footer-facebook{
    width:35px;
    height:35px;
    border-radius: 25%;
}
.footer-instagram{
    width:35px;
    height:35px;
    margin-left:5%;
}
.footer-instagram,.footer-facebook{
    margin-top: 10%;
}
.footer-outer-2{
    margin-left:15%;
    margin-top:8px;
}
.footer-outer-2 a{
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color:rgb(88, 12, 12);
}